rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // サインインの認証
    function isAuthenticated() {
      return request.auth != null;
    }

    // 本人の認証
    function isUserAuthenticated(userId) {
      return isAuthenticated() && userId == request.auth.uid;
    }

    // usersコレクションのスキーマ検証
    function isValidUser(user) {
    return user.size() == 3
      && 'id' in user && user.id is string
      && 'email' in user && user.email is string
      && 'linkedAccount' in user && user.linkedAccount is string;
    }

    match /users/{userId} {
      // ユーザー情報の取得のルール
      allow get: if isUserAuthenticated(userId);

      // ユーザー情報の作成のルール
      allow create: if isUserAuthenticated(userId)
      && isValidUser(request.resource.data);

      // ユーザー情報の更新のルール
      allow update: if isUserAuthenticated(userId)
      && isValidUser(request.resource.data);

        match /bookshelfs/{id} {
          // すべて許可
          allow create, read, update, delete: if isUserAuthenticated(userId);
      }
    }
  }
}