rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // サインインの認証
    function isAuthenticated() {
      return request.auth != null;
    }

    // 本人の認証
    function isUserAuthenticated(userId) {
      return isAuthenticated() && userId == request.auth.uid;
    }

    match /users/{userId} {
      // ユーザー情報の取得のルール
      allow get: if isUserAuthenticated(userId);

      // ユーザー情報の作成のルール
      allow create: if isUserAuthenticated(userId)
      // && isValidUser(request.resource.data);

      // ユーザー情報の更新のルール
      allow update: if isUserAuthenticated(userId)
      // && isValidUser(request.resource.data);
    }
  }
}